<h3>Welcome to TwitterMentions!</h3>
<p>Twitter Mentions is a web application that allows you to find user mentions on Twitter, and star images found in those mentions.</p>
<p>To get started, sign in with Twitter!</p>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
